<%
## I switched the queried API to be the general buildings permits api. I then filter those results for more complete demolition records.

require "net/http"
require "date"
@google_key = ENV.fetch("G_MAPS_API_KEY")
@records_from = Date.parse(params["records_from"])
@records_to = Date.parse(params["records_to"])

gen_permit_url = URI("https://data.cityofchicago.org/resource/ydr8-5enu.json?permit_type=PERMIT - WRECKING/DEMOLITION&$limit=50000")
gen_permit_response = Net::HTTP.get(gen_permit_url)
gen_permit_result = JSON.parse(gen_permit_response)
@relevant_records = []
counter = 0
filtered_gen_permits = gen_permit_result.select {|item|}
gen_permit_result.each { |entry|
unformatted_issue_date = entry.fetch("issue_date")
issue_date = Date.parse(unformatted_issue_date)

if issue_date > @records_from && issue_date < @records_to
@relevant_records.push(entry)
end
}
%>

<h2> Found <%= "#{@relevant_records.length}" %> records </h2>

<div class = "permit-container"> 
<% @relevant_records.each do |entry|%>
<% @address = "#{entry["street_number"]} #{entry["street_direction"]} #{entry["street_name"]}, #{entry["suffix"]}" %>
<ul>
<% entry.each do |key, value| %>
<li> <%= key%> : <%= value%> </li>

<%end%>

 </ul>
<a href = <%="/date_map_view/#{CGI.escape(@address)},Chicago,IL"%> target = "_blank" > View On Map! </a>
 <%end%>
 
 </div>
