<%
#In future iterations of this application I may consider using the following equation instead of calls to the google geocoding api: 
##(Haversine formula) :  d = 2R × sin⁻¹ (√ [sin² ((θ₂ - θ₁)/2) + cosθ₁ × cosθ₂ × sin² ((φ₂ - φ₁)/2)])
require "net/http"
require "date"
@google_key = ENV.fetch("G_MAPS_API_KEY")
@distance = params["distance"].to_f * 1000.0
@anchor_address = params["anchor_address"]
@records_from = Date.parse(params["records_from"])
@records_to = Date.parse(params["records_to"])

uri = URI("https://data.cityofchicago.org/resource/ydr8-5enu.json?permit_type=PERMIT - WRECKING/DEMOLITION&$limit=50000")
response = Net::HTTP.get(uri)
results = JSON.parse(response)
@geo_distance_uri = "https://maps.googleapis.com/maps/api/distancematrix/json"
@filtered_entries = []
@relevant_records = []

results.each { |entry|
unformatted_issue_date = entry.fetch("issue_date")
issue_date = Date.parse(unformatted_issue_date)

if issue_date > @records_from && issue_date < @records_to
@filtered_entries.push(entry)
end
}


 @filtered_entries.each {|item| 

        number = item["street_number"]
        direction = item["street_direction"]
        name = item["street_name"]
        suffix = item["suffix"]
        address_string = "#{number} #{direction} #{name} #{suffix}, Chicago, IL"


        parameters = {
  :destinations => CGI.escape(address_string),
  :origins => CGI.escape(@anchor_address),
  :mode => CGI.escape("driving")
}
uri = URI("#{@geo_distance_uri}?#{parameters.map { |k,v| "#{k}=#{v}" }.join('&')}&key=#{@google_key}")
response = Net::HTTP.get(uri)
result = JSON.parse(response)
result['rows'].each do |row|
  row['elements'].each do |element|
    distance_value = element['distance']['value'].to_f
    if distance_value < @distance
    @relevant_records.push(item)
    end
  end
end
}

%>
<h4> Found <%= @relevant_records.length %> Records </h4>
<div class = "permit-container"> 
<% @relevant_records.each do |entry|%>
<% @address = "#{entry["street_number"]} #{entry["street_direction"]} #{entry["street_name"]}, #{entry["suffix"]}" %>
<ul>
<% entry.each do |key, value| %>
<li> <%= key%> : <%= value%> </li>

<%end%>

 </ul>
<a href = <%="/date_map_view/#{CGI.escape(@address)},Chicago,IL"%> target = "_blank"> View On Map! </a>
 <%end%>
 
 </div>
