<%
require "net/http"
@google_key = ENV.fetch("G_MAPS_API_KEY")
@distance = params["distance"].to_f * 1000.0
@anchor_address = params["anchor_address"]
@records_from = params["records_from"].to_i
@records_to = params["records_to"].to_i

uri = URI("https://data.cityofchicago.org/resource/e4xk-pud8.json")
response = Net::HTTP.get(uri)
results = JSON.parse(response)
@geo_distance_uri = "https://maps.googleapis.com/maps/api/distancematrix/json"
@newest = []
for i in @records_from..@records_to do
@newest.push(results[i])
end
@addresses = []
 @newest.each {|item| 

        number = item["street_number"]
        direction = item["street_direction"]
        name = item["street_name"]
        address_string = "#{number} #{direction} #{name}, Chicago, IL"


        parameters = {
  :destinations => CGI.escape(address_string),
  :origins => CGI.escape(@anchor_address),
  :mode => CGI.escape("driving")
}
uri = URI("#{@geo_distance_uri}?#{parameters.map { |k,v| "#{k}=#{v}" }.join('&')}&key=#{@google_key}")
response = Net::HTTP.get(uri)
result = JSON.parse(response)
result['rows'].each do |row|
  row['elements'].each do |element|
    distance_value = element['distance']['value'].to_f
    if distance_value < @distance
    @addresses.push(address_string)
    end
  end
end
}
@lat_lon = []
@addresses.each {|street_address| 
uri = URI("https://maps.googleapis.com/maps/api/geocode/json?address=#{CGI.escape(street_address)}&key=#{@google_key}")
response = Net::HTTP.get(uri)
result = JSON.parse(response)
location = result.fetch("results").at(0).fetch("geometry").fetch("location")
lat = location.fetch("lat")
lon = location.fetch("lng")
@lat_lon.push("#{lat},#{lon}")
}
base_url = "https://maps.googleapis.com/maps/api/staticmap"
second_parameters = {
  :center => "Chicago",
  :size => "600x600",
  :markers => "color:blue #{@lat_lon.map { |address| CGI.escape(address) }.join("|").gsub("|","%7C").gsub(" ","%20")}",
  :key => @google_key
}
@second_request_url = URI("#{base_url}?#{second_parameters.map { |k,v| "#{k}=#{v}" }.join('&')}")
%>


<img 
  width="600"
  height="450"
  src="<%= @second_request_url %>"
>

<a href = <%= "/filtered_records_view/#{CGI.escape(@anchor_address)}/#{@distance}/#{@records_from}/#{@records_to}"%> > View Filtered Records </a>
