<h1> Visualize Chicago Demolition Permits </h1>
<h2> This application exists to enable the research of Chicago demolition permits so the record information can be viewed and the address can be displayed on a google map.
It queries the api found at <a href = "https://data.cityofchicago.org/Buildings/Building-Permits/ydr8-5enu" target = "_blank"> https://data.cityofchicago.org/Buildings/demolition-permits/e4xk-pud8 </a> in order to generate relevant map and record information. 
 </h2>

<h2> Search by Date </h2>
<form action="/date_filtered_view">
  <label for="records_from">
    Records From
  </label>
  <input id="records_from" name="records_from" type = "date">

  <label for="records_to">
    Records To
  </label>
  <input id="records_to" name="records_to" type = "date">

  <button>
    Search!
  </button>
</form>
