<h1> Visualize Chicago Demolition Permits </h1>
<h3> Please remember larger query sizes can slow down response times significantly </h3>
<form action="/map_view">
  <label for="records_from">
    Records From
  </label>
  <input id="records_from" name="records_from" text="text">

  <label for="records_to">
    Records To
  </label>
  <input id="records_to" name="records_to" text="text">

  <button>
    Visualize!
  </button>
</form>

<h2> Or Search By Distance From An Address </h2>
<form action="/filtered_map_view">
  

  <label for="distance">
    Distance in Kilometers
  </label>
  <input id="distance" name="distance" text="text">


<label for="anchor_address">
    From Address
  </label>
  <input id="anchor_address" name="anchor_address" text="text">
  <button>
    Visualize!
  </button>
</form>
