<% 

@records_from = params["records_from"].to_i
@records_to = params["records_to"].to_i
@google_key = ENV.fetch("G_MAPS_API_KEY")
@city_key = ENV.fetch("CITY_DEMOLITION_API_TOKEN")

# query chicago demolition permits [x]
# extract lat - lon [x]
# generate google map via API [x]
# make pins hypertext link to 3d view (this is a stretch goal)

require "net/http"
uri = URI("https://data.cityofchicago.org/resource/e4xk-pud8.json")
response = Net::HTTP.get(uri)
results = JSON.parse(response)
newest = []
for i in @records_from..@records_to do
item = results[i]
newest.push(item)
end

@addresses = []
 newest.each {|item| 

        number = item["street_number"]
        direction = item["street_direction"]
        name = item["street_name"]
        address_string = "#{number} #{direction} #{name}, Chicago, IL"
        @addresses.push(address_string)
}

@lat_lon = []

@addresses.each {|street_address| 
uri = URI("https://maps.googleapis.com/maps/api/geocode/json?address=#{CGI.escape(street_address)}&key=#{@google_key}")
response = Net::HTTP.get(uri)
result = JSON.parse(response)

# Access the first element in the array, then the "geometry" hash, then the "location" hash
location = result.fetch("results").at(0).fetch("geometry").fetch("location")

lat = location.fetch("lat")
lon = location.fetch("lng")
@lat_lon.push("#{lat},#{lon}")
}


base_url = "https://maps.googleapis.com/maps/api/staticmap"

second_parameters = {
  :center => "Chicago",
  :zoom => 10,
  :size => "600x600",
  :markers => "color:blue #{@lat_lon.map { |address| CGI.escape(address) }.join("|").gsub("|","%7C").gsub(" ","%20")}",
  :key => @google_key
}
@second_request_url = URI("#{base_url}?#{second_parameters.map { |k,v| "#{k}=#{v}" }.join('&')}")
%>


<img 
  width="600"
  height="450"
  src="<%= @second_request_url %>"
>

<a href = <%= "/records_view/#{@records_to}/#{@records_from}"%> > View Raw Records </a>
